// Structure
html {
  position: relative;
  font-size: 10px;
}

body {
  background: @bgcolor;
  color: @text-color;
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height;

  &.admin-bar {
    padding-top: 32px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  .clearfix();
}

.clearfix {
  .clearfix();
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
.site-main {
  padding-top: 30px;
  padding-bottom: 30px;
}
.primary-title {
  text-transform: uppercase;
  font-size: 1.8rem;
}
.form-control {
  border: 0;
  border-bottom: 1px solid @border-color;
  padding: 12px 15px;
  height: 44px;
  background-color: #fff;
  font-size: 1.4rem;
  .placeholder(#aaa);
}
/**
 *  Alignments
 */

.alignleft {
  float: left;
  margin-right: 20px;
}

.alignright {
  float: right;
  margin-left: 20px;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.75em;
}

blockquote.alignleft {
  margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}

blockquote.alignright {
  margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}

blockquote.aligncenter {
  margin-bottom: 1.473684211em;
}

.text-uppercase {
  text-transform: uppercase;
}
// .btn

.btn {
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 0;
  font-size: 1.4rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  background-color: @bg-gray;
  border: 2px solid @bg-gray;
  text-decoration: none;
  .transition(all .3s);

  &-primary {
    border-color: @blue;
    background-color: @blue;
    color: @white;

    &:hover,
    &:focus {
      border-color: @bg-primary-hover;
      background-color: @bg-primary-hover;
      color: @white;
    }
  }

  &-black {
    position: relative;
    z-index: 2;
    border: 0;
    background-color: @black;
    color: @white;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      width: 0;
      height: 100%;
      background-color: #484848;
      .transition(all .3s);
    }

    &:hover,
    &:focus {
      color: @white;

      &:before {
        .no-touch & {
          width: 100%;
        }
      }
    }
  }
}

//Typho
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}

a {
  color: @link-color;

  &:hover {
    color: @link-hover-color;
  }
}

@media (min-width: @screen-sm-min){
  .container{
    width: 750px;
  }
}
@media (min-width: @screen-md-min){
  .container{
    width: 970px;
  }
}
@media (min-width: @screen-lg-min){
  .container{
    width: 1170px;
  }
}
@media (min-width: 1400px){
  .container{
    width: 1360px;
  }
}
// css 3
.keyframes(MoveUpDown;{
  0,100%{
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0);
  }

  50%{
    -webkit-transform:translateY(40px);
    -ms-transform:translateY(40px);
    transform:translateY(40px);
  }
});

.img-responsive {
  display: block;
  height: auto;
}

