/* overpass-mono-regular - latin-ext_latin */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/overpass-mono-v3-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Overpass Mono Regular'), local('OverpassMono-Regular'),
       url('fonts/overpass-mono-v3-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/overpass-mono-v3-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/overpass-mono-v3-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/overpass-mono-v3-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/overpass-mono-v3-latin-ext_latin-regular.svg#OverpassMono') format('svg'); /* Legacy iOS */
}
/* overpass-mono-600 - latin-ext_latin */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/overpass-mono-v3-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local('Overpass Mono SemiBold'), local('OverpassMono-SemiBold'),
       url('fonts/overpass-mono-v3-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/overpass-mono-v3-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/overpass-mono-v3-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/overpass-mono-v3-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/overpass-mono-v3-latin-ext_latin-600.svg#OverpassMono') format('svg'); /* Legacy iOS */
}
/* overpass-mono-700 - latin-ext_latin */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/overpass-mono-v3-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Overpass Mono Bold'), local('OverpassMono-Bold'),
       url('fonts/overpass-mono-v3-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/overpass-mono-v3-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/overpass-mono-v3-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/overpass-mono-v3-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/overpass-mono-v3-latin-ext_latin-700.svg#OverpassMono') format('svg'); /* Legacy iOS */
}
/* athiti-regular - latin */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/athiti-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Athiti'), local('Athiti-Regular'),
       url('fonts/athiti-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/athiti-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/athiti-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/athiti-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/athiti-v2-latin-regular.svg#Athiti') format('svg'); /* Legacy iOS */
}
/* athiti-500 - latin */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/athiti-v2-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Athiti Medium'), local('Athiti-Medium'),
       url('fonts/athiti-v2-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/athiti-v2-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/athiti-v2-latin-500.woff') format('woff'), /* Modern Browsers */
       url('fonts/athiti-v2-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/athiti-v2-latin-500.svg#Athiti') format('svg'); /* Legacy iOS */
}
/* athiti-600 - latin */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/athiti-v2-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Athiti SemiBold'), local('Athiti-SemiBold'),
       url('fonts/athiti-v2-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/athiti-v2-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/athiti-v2-latin-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/athiti-v2-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/athiti-v2-latin-600.svg#Athiti') format('svg'); /* Legacy iOS */
}
@font-face{
  font-family:'m2-icons';
  src:    url('fonts/M2-icons.eot');
  src:    url('fonts/M2-icons.eot?#iefix') format('embedded-opentype'),
          url('fonts/M2-icons.woff') format('woff'),
          url('fonts/M2-icons.ttf') format('truetype'),
          url('fonts/M2-icons.svg#m2-icons') format('svg');
  font-weight:normal;
  font-style:normal;
  font-stretch:normal;
}
// fontawesome
.font-faces('fontawesome');
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 'fontawesome';
  font-size: inherit;  
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-facebook-f:before, .fa-facebook:before {
  content: "\f09a";
}
.fa-twitter:before {
    content: "\f099";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-pinterest-p:before {
    content: "\f231";
}
.fa-youtube:before {
    content: "\f167";
}
.fa-envelope:before {
    content: "\f0e0";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-phone:before {
  content: "\f095";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-clock-o:before {
    content: "\f017";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-chevron-up:before {
    content: "\f077";
}
.fa-chevron-down:before {
    content: "\f078";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-user-plus:before {
   content: "\f234";
}
.fa-user:before {
   content: "\f007";
}
.fa-home:before {
  content: "\f015";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-edit:before, .fa-pencil-square-o:before {
  content: "\f044";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.m2icon {
  display: inline-block;
  font-family:'m2-icons';
  font-size: inherit;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.m2icon-facebook:before {
  content: '\e911';
}
.m2icon-twitter:before {
  content: '\e925';
}
.m2icon-youtube:before {
  content: '\e926';
}
.m2icon-instagram:before {
  content: '\e922';
}