// Typography
@font-family-base:  'Overpass Mono', sans-serif;
@font-family-base-vi:  'Athiti', sans-serif;
@font-size-base: 1.6rem;
@font-size-html: 16px;
@line-height: 1.6;

// Color
@color: #7a7a7a;
@bgcolor: #fff;
@text-color: #333;
@placeholder-color: #666;
@menu-bg: #fb270d;
@menu-color: #fff;
@menu-hover-bg: #fff;
@menu-hover-color: #fff;
@white: #fff;
// @black: #000;
@black: #333;
@blue: #00a0e9;
@red: red;
@border-color : #e7e7e7;
@light-gray:  #ddd;
@gray: #333;
// Link
@link-color: #3b5998;
@link-hover-color: darken(@link-color, 15%);
@link-active-color: darken(@link-color, 10%);
@link-visited-color: darken(@link-color, 5%);
@imagePath: '../images';
@uploadPath: 'media/images/upload';
// btn
@bg-dark: #373737;
@bg-gray: #f2f2f2;
@bg-primary: #394b59;
@bg-primary-hover: #688eb9;
@bg-second: #3b5998;
@bg-second-hover: #21499c;
@bg-warning: #f3e721;
@bg-warning-hover: #fcee03;
// Grid System
@screen-xs: 480px;
@screen-xs-min: @screen-xs;
@screen-phone: @screen-xs-min;
@screen-sm: 768px;
@screen-sm-min: @screen-sm;
@screen-tablet: @screen-sm-min;
@screen-md: 992px;
@screen-md-min: @screen-md;
@screen-desktop: @screen-md-min;
@screen-lg: 1280px;
@screen-lg-min: @screen-lg;
@screen-lg-desktop: @screen-lg-min;
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);
@grid-columns: 12;
@grid-gutter-width: 30px;
@grid-float-breakpoint: @screen-sm-min;
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);
@grid-tablet: (720px + @grid-gutter-width);
@grid-sm: @grid-tablet;
@grid-desktop: (940px + @grid-gutter-width);
@grid-md: @grid-desktop;
@grid-large-desktop: (1170px + @grid-gutter-width);
@grid-lg: @grid-large-desktop;


@m-gap: 15px;
@text-font: 20px;
@heading-font: 25px;
@paragraph-gap: 15px;
@paragraph-font: 20px;
@page-title-color: #17468f;

