.slick-slider {
  .slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      vertical-align: top;
      padding: 0 2px;

      button {
        border: 0;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: @white;
        font-size: 0;
        color: @white;
        cursor: pointer;
      }

      &.slick-active {
        button {
          outline: none;
          background-color: @black;
        }
      }

      &:hover {
        button {
          outline: none;
          background-color: @black;
        }
      }
    }
  }
}

.slideshow  {
  .item {
    position: relative;

    img {
      display: block;
      width: 100%;
    }
  }
}
.banner-page {
  img {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: @screen-xs-max) {
  .mainsite .slick-slider .slick-dots {
    left: auto;
    right: 15px;
    .transform(none);
  }
}
@media screen and (max-width: @screen-xs) {
  .slideshow  {
    .item {

      img {
        width: 130%;
        left: -15%;
        position: relative;
        max-width: 130%;
      }

      &.slick-current {
        z-index: 2;
      }
    }
  }
}
