
.breadcrumbs {
  list-style: none;
  background: #eee;
  background: linear-gradient(#fff,#eee);
  border: 1px solid #cfcfcf;
  padding: 8px 15px;
  overflow: hidden;
  text-transform: capitalize;

  li {
    display: inline;
    position: relative;

    + li{
      padding-left: 25px;

      &:before {
        .fa;
        content: "\f0da";
        position: absolute;
        left: 10px;
        top: 3px;
      }
    }

    &.item-home {
      &:before {
        .fa;
        content: "\f015";
        font-size: 1.8rem;
        margin-right: 5px;
      }

      &:hover:before {
        color: @menu-bg;
      }
    }

    a {
      color: @black;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: none;
        color: @menu-bg;
      }
    }
  }
}
.breadcrumb-title {
  position: relative;
  z-index: 2;
  margin: 0;
  font-size: 2.4rem;

  span {
    position: relative;
    display: inline-block;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: @black;
    }
  }
}

.entry-header {
  margin-bottom: 60px;
  text-align: center;

  .entry-title {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    padding-bottom: 35px;
    font-size: 1.8rem;
    text-transform: uppercase;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      margin-left: -98px;
      background: url('img/bg_header.png') center bottom no-repeat;
      width: 177px;
      height: 22px;
    }
  }
}
