.comment-respond {
  margin-top: 30px;

  .reply-title {
    margin-bottom: 20px;
    font-size: 1.6rem;
  }

  .comment-form {
    input[type="text"],
    input[type="email"],
    input[type="url"],
    textarea {
      border: 0;
      padding: 12px 15px;
      height: 42px;
      width: 100%;
      background-color: #cacaca;
      font-size: 1.6rem;
      .placeholder(#000);
    }
    .comment-form-author,
    .comment-form-email,
    .comment-form-url {
      float: left;
      width: 32%;
      margin-bottom: 25px;
      margin-left: 2%;

      &.comment-form-author {
        margin-left: 0;
      }
    }

    label {
      display: none;
    }

    .comment-form-comment {
      margin-bottom: 25px;
      clear: both;

      textarea {
        width: 100%;
        height: 84px;
      }
    }

    .form-control  {
      font-weight: 600;
    }
  }

  .form-submit {
    .submit {
      position: relative;
      z-index: 2;
      border: 0;
      padding: 14px 25px;
      background-color: #cacaca;
      font-size: 1.6rem;
      font-weight: 600;
      color: @black;
      cursor: pointer;
      .transition(all .3s);

      &:hover,
      &:focus {
        .no-touch & {
          background-color: @black;
          color: @white;
        }
      }
    }
  }
}

.comments-area {
  .comments-title {
    margin-bottom: 20px;
    font-size: 1.6rem;
  }
  .comment-list {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid @black;

    .comment  {

      .comment-body {
        position: relative;
        padding: 15px 0;
      }
    }
    .comment-meta {
      margin-right: 15px;
      float: left;

      .comment-author {
        margin-bottom: 10px;
        overflow: hidden;

        .avatar {
          display: block;
          margin-bottom: 10px;
        }

        .says {
          display: none;
        }
      }
    }
    .comment-metadata {
      position: absolute;
      right: 0;
      bottom: 15px;

      a {
        text-decoration: none;
      }

      time {
        color: #ccc;
      }

      .edit-link {
        margin-left: 10px;
        .comment-edit-link {
          display: inline-block;
          font-size: 0;
          &:before {
            .fa;
            content: "\f040";
            font-size: 1.6rem;
          }
        }
      }

    }
    .comment-content {
      overflow: hidden;
    }
  }

  .children {
    list-style: none;

    li {
      border-top: 1px dotted #ccc;
    }
  }
}

#chatContainer {
  left: auto !important;
  top: auto !important;
  right: 5px !important;
  bottom: 0 !important;
}
