.contact-form {
  max-width: 600px;
  margin: auto;

  .page-header {
    text-align: center;
  }

  .form-group {
    position: relative;
    margin-bottom: 20px;

    .fa {
      color: @red;
      position: absolute;
      z-index: 3;
      left: 0;
      top: 13px;
    }

    .wpcf7-form-control-wrap {
      display: block;
    }

    &.text-center {
      .wpcf7-form-control-wrap {
        display: inline-block;
        margin: auto;
      }
    }
  }
  input, textarea {
    margin: 0 0 20px;

    &.wpcf7-not-valid {
      margin: 0;
    }
  }

  .btn-submit {
    min-width: 262px;
    margin: 0 auto;
    display: block;
    padding: 14px 20px;
    background-color: #D6D6D6;
    input {
      cursor: pointer;
    }
  }
  .form-control {
    padding-left: 25px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  textarea.form-control {
    height: 155px;
    resize: none;
  }
  .form-group-submit {
    text-align: center;

    .btn {
      width: 120px;
      text-transform: uppercase;
    }
  }

}

