.footer-top {
	padding-top: 50px;
}
.social-box {
	margin-bottom: 30px;

	h3 {
		margin: 0 0 15px;
		font-size: 2rem;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			vertical-align: top;
			margin-right: 10px;

			a {
				color: @text-color;
				font-size: 4rem;
			}
		}
	}
}
#site-bottom {
	.container{
		&.bg-content{
			padding: 30px 40px;
			max-width: 1350px;
			background-image: url(img/border-background-bottom.png);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-color: #c8c3bc;
		}
		.footer_links{
			width: 66%;
			float: left;
			margin: 0;
			padding: 0;
		}
		.footer_visit {
			padding: 10px 0;
			position: relative;
			width: 33%;
			min-height: 250px;
			float: right;
		}
		.textwidget {
			ul{
				&.content{
					padding: 0;
					margin: 0;
					list-style: none;
					li{
						line-height: 32px;
						font-size: 16px;
						font-weight: 400;
						margin: 0 0 5px 0;
						a{
							font-weight: 400;
							color: #000;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}
.site-footer {
  .copyright {
  	padding: 30px 0 15px;
	background: url('img/line-dotted-v.png') left top repeat-x;
	text-align: center;
  }
}

@media screen and (max-width: @screen-xs-max) {

}
