.site-header {
  padding: 15px 0;
  background: url('img/header-bottom-line.png') center bottom repeat-x @bg-primary;
  color: @white;

  .container {
    position: relative;
  }

  .header-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 140px;

    .site-branding {
      .custom-logo-link {
        display: inline-block;
      }
    }
  }
  .header-right {
    padding-left: 140px;
  }

  .hr-top {
    position: relative;


    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .login-box {
      position: absolute;
      right: 85px;
      top: 0;

      ul {
        li {
          display: inline-block;
          vertical-align: top;
          padding-right: 10px;

          a {
            color: @white;
            text-decoration: none;

            em {
              margin-right: 5px;
            }
          }
        }
      }
    }

    .box-lang {
      position: absolute;
      right: 0;
      top: 0;

      ul {
        overflow: hidden;
        li {
          display: block;
          float: left;
          position: relative;
          padding: 0 10px;

          + li:before {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            top: 3px;
            width: 1px;
            height: 15px;
            background-color: @white;
          }

          &.current-lang {
            a {
              color: #5e8ab4;
            }
          }

          a {
            color: @white;
            text-decoration: none;

            &:hover {
              color: #5e8ab4;
              text-decoration: none;
            }
          }
        }
      }
    }

    .site-header-cart  {
      position: absolute;
      z-index: 1000;
      right: 0;
      top: 30px;

      a#nc_ajax_cart_snippet,
      .nc_ajax_cart_icon_font {
        color: @white;
      }
    }
  }

  .custom-site-title {
    text-align: center;
    padding-right: 340px;

    a {
      color: @white;
      font-size: 6.5rem;
      line-height: 1;
      text-decoration: none;
      font-family: 'Courier New',monospace;
    }
  }
}
.site-header-cart {
  width: 300px;

  .cart-contents {
    padding: 5px 0;
    display: block;
    position: relative;

    &:after {
      content: "\e927";
      display: inline-block;
      float: right;
      font-family:'m2-icons';
      font-size: inherit;
      font-style: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: @white;
    }

    .amount {
      display: inline-block;
      color: @white;
    }
    .count {
      color: @white;
      font-weight: 400;
      opacity: .5;
      font-size: .875em;
    }
  }

  .widget_shopping_cart {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    left: 0;
    border: 1px solid @border-color;
    border-top: 0;
    border-radius: 5px;
    padding: 10px;
    background: @white;
    opacity: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all .5s;
    transform: translateY(50px);
    color: @text-color;

    .woocommerce-mini-cart__empty-message {
      margin: 0;
    }
  }

  &:hover {
    .widget_shopping_cart {
      opacity: 1;
      height: auto;
      visibility: visible;
      transform: translateY(0);
    }
  }
}
.site-nav {
  position: relative;
  z-index: 998;
  padding-right: 300px;
}

.primary-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
  justify-content: center;


  li {
    position: relative;
  }

  > li {
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;

    &:frist-child {
      border-left: 0;
    }

    &.current-menu-item,
    &.current-menu-parent,
    &.current-post-ancestor {
      > a {
        color: @menu-hover-color;

        &:after {
          width: 100%;
          background-size: 100% 12px;
        }
      }
    }

    // &.menu-item-has-children {
    //   &:after {
    //     content: '';
    //     position: absolute;
    //     left: 50%;
    //     bottom: 0;
    //     width: 0;
    //     height: 0;
    //     border-style: solid;
    //     border-width: 8px 6px 0 6px;
    //     margin-left: -4px;
    //     border-color: #ffffff transparent transparent transparent;
    //   }
    // }

    > a {
      position: relative;
      display: inline-block;
      padding: 7px 0;
      font-size: 1.8rem;
      font-weight: 500;
      text-transform: uppercase;
      color: @menu-color;
      text-decoration: none;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 12px;
        display: block;
        background: url('img/menu-line-hover.png') no-repeat 0 0;
        background-size: 160px 12px;
        transition: all 300ms;
      }

      .no-touch & {
        .transition(all .5s);
      }

      &:hover {
        color: @menu-hover-color;

        &:after {
          width: 100%;
          background-size: 100% 12px;
        }
      }
    }

    &:hover {
      > a {
        color: @menu-hover-color;
        &:after {
          width: 100%;
          background-size: 100% 12px;
        }
      }
      > ul {
        opacity: 1;
        visibility: visible;
        .transform(translateY(0));
      }
    }

    ul {
      opacity: 0;
      visibility: hidden;
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      z-index: 9999;
      left: 0;
      top: 100%;
      width: 220px;
      padding: 20px 30px;
      border: 1px solid @border-color;
      background-color: @white;
      .transform(translateY(10px));

      .no-touch & {
        .transition(all .3s);
      }

      li {
        display: block;
        text-align: left;

        a {
          display: block;
          padding: 7px 15px;
          color: @text-color;
          text-decoration: none;
          text-align: center;

          &:hover {
            color: @link-color;
            text-decoration: none;
          }
        }

        ul {
          top: 0;
          left: 100%;
        }

        &:hover {
          > a {
            color: @link-color;
          }
          > ul {
            opacity: 1;
            visibility: visible;
            .transform(translateY(0));
          }
        }
      }
    }
  }
}

.menu-toggle {
  display: none;
  position: absolute;
  left: 15px;
  top: 20px;
  width: 40px;
  height: 40px;
  z-index: 9999;
  background: none;
  background: @link-color;
  border-radius: 2px;
  border: 0;
  padding: 2px 4px;
  cursor: pointer;
  .transition(all .2s);

  .admin-bar & {
    top: 58px;
  }

  .icon-bar {
    background: @white;
    height: 4px;
    width: 32px;
    display: block;

    + .icon-bar {
      margin-top: 7px;
    }

    &:first-child,
    &:nth-child(3) {
      .transition(all .2s);
    }
  }
  &:focus,
  &:active {
    outline: none;
  }
  &.active {
    .icon-bar {
      &:first-child {
        transform: rotate(45deg) translate(6px, 8px);
      }

      &:nth-child(2) {
        visibility: hidden;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -9px);
      }
    }
  }
}
.site-search {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;

  .woocommerce-product-search {
    .search-field {
      width: 100%;
      padding: 7px 50px 7px 10px;
      border: 0;
      background-color: @white;   
      border-radius: 5px;
    }

    button {
      position: absolute;
      right: 5px;
      top: 2px;
      font-size: 0;
      border: 0;
      background: none;
       -webkit-appearance: none;

      &:before {
        font-family:'m2-icons';
        content: '\e91e';
        color: #000;
        font-size: 23px;
      }
    }
  }
}


