.home-slider {
	.inner {
		position: relative;
		overflow: hidden;
	}
	.img {
		img {
			padding: 14px;
			width: 100%;
		}

		&:before {
			content: "";
		    position: absolute;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
		    display: block;
		    background-image: url('img/banner_border-image.png');
		    background-size: 100% 100%;
		    background-repeat: no-repeat;
		}
	}

	.caption {
		position: absolute;
		z-index: 2;		
		bottom: 10px;
		right: 20px;
		left: 20px;
		padding: 19px 40px;
		border-radius: 0 0 14px 14px;
		color: #fff;
		background-color: rgba(0,0,0,0);
		font-size: 2rem;
		transform: translateY(100%);
		transition: all 800ms;

		.slider-title {
			margin: 0 0 10px;
			display: none;
		}
	}
	.slick-slider {
		.slick-arrow {
			width: 60px;
			height: 77px;
			opacity: 0;
			transition: all .3s;

			&.slick-next {
				background-position: right -100px;
			}
			&.slick-prev {
				background-position: left -100px;
			}
		}

		&:hover {
			.slick-arrow {
				opacity: 1;

				&.slick-next {
					right: 50px;
				}
				&.slick-prev {
					left: 50px;
				}
			}
		}
	}
	.slick-active {
		.caption {
			transform: translateY(0);
			background-color: rgba(0,0,0, .5);
		}
	}
}
.home-intro{
	.slick-list{
		&.draggable{
			margin: 30px 80px;
			overflow: hidden;
		}
	}
	.caption{
		h2{
			display: none;
		}
	}
	.slick-dots{
		display: none !important;
	}
	&:after{
		content: "";
		width: 100%;
		height: 13px;
		display: block;
		background: url('img/line-dotted-v.png') left top repeat-x;
		background-position: 0 0;
	}
}
.home{
	h2{
		width: 100%;
		display: inline-block;
		&.title-row{
			margin: 60px 0 40px 0;
			text-align: center;
			font-size: 40px;
		}
	}
	.products{
		li{
			&.product{
				h2{
					color: #000;
					&:hover{
						color: #3b5998;
					}
				}
				.price{
					color: #000 !important;
					del{
						.amount{
							color: #000;
						}
					}
					ins{
						color: #000;
						text-decoration: none;
					}
				}
			}
		}
	}
}