.mobile-menu {
  display: none;
}
.mainsite {
  position: relative;
  left: 0;
  z-index: 1000;
}
body.showmenu  {
  .menu-toggle{
    left: 280px;
  }

  .mobile-menu {
    left: 0;
  }
}

.mobile-menu {
  width:280px;
  z-index:10000;
  position: fixed;
  left: -280px;
  top: 0;
  bottom: 0;
  background:#2c2c2c;
  overflow-y: scroll;
  .transition(all .2s);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;

      a:hover {
        background-color: @link-color;
        color: @white;
        text-decoration: none;
      }

      &.current-menu-item {
        > a {
          background-color: @link-color;
          color: @white;
        }
      }

      > ul {
        display: none;
      }
    }
    > li {
      &.menu-item-has-children {
        > a {
          padding-right: 45px;
        }
      }

      .arrowCtl {
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0;
        width: 43px;
        height: 43px;
        border: 1px solid #aaa;
        border-right: 0;
        border-right: 0;
        color: @white;
        text-align: center;
        line-height: 43px;
        cursor: pointer;
      }
    }
  }

  div {
    > ul {
      > li {
        > a {
          display: block;
          padding: 8px 15px;
          border-top: 1px solid #aaa;
          font-size: 1.8rem;
          color: @white;
          text-decoration: none;
          text-transform: uppercase;
        }

        &:first-child {
          > a {
            border-top: 0;
          }
        }

        ul {
          border-top: 1px solid #aaa;

          li {
            position: relative;

            &:before {
              content: '';
              position: absolute;
              left: 15px;
              top: 15px;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: @white;
            }

            a {
              display: block;
              border-bottom: 1px dotted #575757;
              padding: 8px 15px 8px 30px;
              font-size: 1.6rem;
              color: @white;
              text-decoration: none;
            }

            ul {
              border-top: 0;

              li {
                a {
                  padding-left: 40px;
                  font-size: 1.4rem;
                }

                &:before {
                  left: 30px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: @screen-xs-max) {
  body.showmenu {
    .mainsite {
      &:before {
        content: '';
        position: absolute;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
      }
    }
  }
  .mobile-menu {
    display: block;
  }
}
