.blog{
    .post-list-wrapper{
        .item-post{
            margin-bottom: 20px;
            padding-bottom: 20px;
            width: 100%;
            display: block;
            border-bottom: 1px dashed #000;
            &:last-child{
                border-bottom: 0;
            }
            h2{
                margin-top: 0;
            }
        }
    }
}