.nav-links {
  text-align: center;

  >a ,
  > span {
    display: inline-block;
    vertical-align: top;
    padding: 7px 15px;
    border: 1px solid @border-color;
    border-radius: 2px;
    color: black;
    font-size: 1.6rem;
    text-decoration: none;
    cursor: pointer;

    &.current {
      border-color: @menu-bg;
      background-color: @menu-bg;
      cursor: default;
      color: @white;
    }

    &:hover {
      border-color: @menu-bg;
      background-color: @menu-bg;
      color: @white;
    }
  }
}
