@media screen and (max-width: @screen-md-max) {
  .primary-menu > li > a {
    padding: 12px 9px;
    font-size: 1.3rem;
  }
}
@media screen and (max-width: @screen-sm-max) {
  /* .aside */
  .sidebar {
    border-top: 1px solid @black;
    padding-top: 30px;
    margin-top: 30px;
  }
  .aside-logos {
    display: none;
  }
}
@media screen and (max-width: @screen-xs-max) {
  body.admin-bar {
    padding-top: 46px;
  }
  .menu-toggle {
    display: block;
  }

  .site-nav {
    display: none;
  }
  .site-header {
    .site-branding {
      padding-top: 0;
      text-align: center;
    }
  }
  .header-banner {
    text-align: center;
  }
  /* slideshow */
  .slideshow-container {
    display: block;

    .slider-items,
    .slider-ctrl {
      float: none;
      width: auto;
    }

    .slider-items {
      height: 400px;
    }

    .slider-ctrl {
      margin-top: 15px;
      padding-left: 0;

      .ctrl-item .title {
        font-size: 1.3rem;
      }
    }
  }

  /* main */
  .site-main {
    padding-top: 15px;
  }

  /* Members */
  .um-page-register,
  .um-page-login {
    .page-default {
     .entry-content {
      padding: 15px;
     }
    }
  }
  .um-form .um-field {
    .um-field-label {
      float: none;
      width: auto;
    }
  }

  /*.category-box*/
  .primary-area .category-box {
    margin-bottom: 20px;

    .category-heading {
      li + li {
        display: none;
      }
    }
    .category-posts {
      .posts-left,
      .posts-right {
        float: none;
        width: auto;
      }
    }
  }

  .all-tag-news {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      vertical-align: top;
      margin-right: 10px;
      margin-top: 10px;

      a {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 4px;
        background-color: @blue;
        color: @white;
      }
    }
  }

  .users-list .item {
    float: none;
    width: auto;
    margin: 0 0 15px;
    padding-right: 0;
    .clearfix();

    &:first-child {
      padding-left: 0;
    }
  }

  .box {
    margin-bottom: 20px;
  }

  .box.users-box {
    .box-content {
      padding: 30px 20px 15px
    }
  }

  .box.bussiness-box .box-content {
    .bussiness-item {
      width: 50%;

      &:nth-child(2n+1) {
        clear: left;
      }
    }
  }

  /* Aside */
  .sidebar .widget {
    margin-bottom: 20px;
  }

  /* Footer */
  .site-footer {
    .site-info,
    .footer-logo {
      text-align: center;
    }
    .footer-logo {
      margin-top: 15px;
    }
  }
}
