.search-form {
  position: relative;

  .search-field {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 1px solid @black;
    padding: 5px 10px;
  }

  .search-submit-input {
    position: absolute;
    right: 0;
    bottom: 0;
    border: 0;
    text-align: center;
    padding: 7px 15px;
    background-color: @bg-second;
    color: @white;
    cursor: pointer;
  }
}

.rs-advanced-search-form {
  .rs-advanced-search-inline-select {
    margin-bottom: 0;
    width: 100%;
    padding-right: 82px;

    select {
      border-color: @black;
    }
  }
}
.sidebar {
  .widget {
    margin-bottom: 30px;

    .widget-title {
      margin: 0;
      font-size: 1.4rem;
      font-weight: bold;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 10px;

        a {
          color: @black;
          text-decoration: none;
          .no-touch & {
            .transition(all .3s);
          }

          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }

    .searchandfilter {
      ul {
        display: block;
        position: relative;
      }
      li {
        padding-right: 0;
      }
      li.search-field {
        input {
          width: 100%;
          height: 30px;
          line-height: 30px;
          border: 1px solid @black;
          padding: 5px 10px;
        }
      }

      .field-taxonomy {
        margin-bottom: 0;
        margin-right: 90px;

        .postform {
          width: 100%;
          height: 30px;
          line-height: 30px;
          border: 1px solid @black;
          padding: 5px 10px;
        }
      }

      .field-submitted {
        margin: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 80px;

        input[type="submit"] {
          padding: 7px 15px;
          border: 0;
          background-color: @bg-second;
          color: @white;
          cursor: pointer;
        }
      }
    }
  }
}

.aside-box {
  border: 1px solid @border-color;

  .widget-title {
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    padding: 8px 65px 8px 15px;
    background: linear-gradient(#cd160e,#b3140e) #b3140e;
    border-bottom: 1px solid #b3140e;
    border-radius: 5px 5px 0 0;

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(#fefefe,#eee) #eee;
      border-bottom-right-radius: 50px 30px;
    }
  }

  .textwidget {
    padding: 15px;
  }

  .skype-chat {
    text-align: center;

    span {
      display: block;
      color: @text-color;
    }
  }
}
.vert {
  .simply-scroll-clip {
    height: 1000px;
  }
}

.simply-scroll-container {
  position: relative;
}

.simply-scroll-clip {
  overflow: hidden;
}

.aside-logos {
  overflow: hidden;

  li {
    margin-top: 20px;

    a {
      display: block;
      overflow: hidden;

      &:hover {
        img {
          opacity: .9;
        }
      }
    }

    img {
      margin: 0;
      border: 1px solid @border-color;
      padding: 4px;

      .no-touch & {
        transition: all .3s;
      }
    }
  }
}

.widget_wpb_latestpost {
  border: 1px solid @border-color;

  .tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    .clearfix();

    li {
      display: block;
      float: left;
      width: 50%;
      margin-bottom: 0 !important;
      text-transform: uppercase;
      text-align: center;
      background-color: #eaeaea;
      border-bottom: 1px solid #ababab;

      +li {
        border-left: 1px solid #ababab;
      }

      &.active {
        background-color: @white;
        border-bottom-color: @white;
      }

      a {
        display: block;
        padding: 5px 10px;
        color: @text-color;
        text-decoration: none;
      }
    }
  }

  .newsTabContent {
    .tab-content {
      display: none;
      list-style: none;
      margin: 0;
      padding: 10px 0 0;

      &.active {
        display: block;
      }

      li {
        .clearfix();
        padding: 5px 10px;

        img {
          float: left;
          width: 80px;
          margin-right: 15px;
        }

        .title {
          display: block;
        }
      }
    }
  }
}

.aside-members {
  .recent-member-lists {
    padding: 20px;
  }

  .vert {
    margin: 20px 0;
    height: 300px;
    overflow: hidden;
  }

  ul {
    li {
      margin-bottom: 15px;
      padding-bottom: 20px;
      text-align: center;
      border-bottom: 1px solid @border-color;

      h3 {
        margin: 15px 0 0;
      }
    }
  }
}
