.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
	padding: 8px 12px;
	background: #000 url('img/button-border.png') no-repeat;
	background-size: 100% 100%;
	color: @white;

	&:hover,
	&:focus {
		background: #000 url('img/button-border.png') no-repeat;
		background-size: 100% 100%;
		color: @white;
	}
}
.woocommerce-page {
	div.product{
		div.images{
			width: 100%;
		}
	}
}
.single-product{
	#product-detail{
		.entry-summary{
			.content{
				margin: 0;
				padding: 29px;
				width: 100%;
				display: inline-block;
				border: 1px solid #9b9b9b;
				background-color: rgba(255,255,255,0.85);
				.short-description {
					text-transform: none;
					color: #000;
					margin: 15px 0;
					padding-top: 20px;
					width: 100%;
					float: left;
					border-top: 1px dashed #000;
				}
				.product-info-price{
					margin-top: 0;
					padding-top: 20px;
					width: 100%;
					float: left;
					border-top: 1px dashed #000;
					.price-box{
						padding-bottom: 20px;
						width: 100%;
						border-bottom: 1px dashed #000;
					}
					.product-info-stock-sku{
						padding: 20px 0 20px 4px;
						line-height: 32px;
					}
				}
				.product-add-form{
					.qty{
						float: left;
						margin-right: 20px;
					}
					.quantity{
						input.input-text{
							width: 50px;
							height: 31px;
							display: inline-block;
							text-align: center;
							border-radius: 5px;
							box-shadow: none;
							padding-left: 5px;
						}
					}
				}
			}
		}
	}
	.detailer{
		padding-top: 53px;
		background: url(img/line-dotted-v.png) repeat-x;
		background-position: 0 0;
		border-top: 0;
	}
	ul.flex-direction-nav {
		position: absolute;
		top: 30%;
		z-index: 99999;
		width: 100%;
		left: 0;
		margin: 0;
		padding: 0px;
		list-style: none;}
	
	li.flex-nav-prev {float: left;}
	li.flex-nav-next {float: right;}
	a.flex-next {visibility:hidden;}
	a.flex-prev {visibility:hidden;}
	a.flex-next::after {visibility:visible;content: '\f105';
		font-family: FontAwesome;margin-right: 10px;font-size: 70px;    }
	a.flex-prev::before {
		visibility:visible;
		content: '\f104';
		font-family: FontAwesome;    margin-left: 10px;font-size: 70px;}
  
}
