@charset "utf-8";
/*
Theme Name: coffeeshrub
Theme URI: coffeeshrub
Author: Onlyfirst
Author URI: https://wds.com.vn
Description: This is theme for Bussiness Man website.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: coffeeshrub.
Text Domain: coffeeshrub

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/**
 * 1.0 - fontface
 */
/* overpass-mono-regular - latin-ext_latin */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/overpass-mono-v3-latin-ext_latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Overpass Mono Regular'), local('OverpassMono-Regular'), url('fonts/overpass-mono-v3-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/overpass-mono-v3-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/overpass-mono-v3-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */ url('fonts/overpass-mono-v3-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/overpass-mono-v3-latin-ext_latin-regular.svg#OverpassMono') format('svg');
  /* Legacy iOS */
}
/* overpass-mono-600 - latin-ext_latin */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/overpass-mono-v3-latin-ext_latin-600.eot');
  /* IE9 Compat Modes */
  src: local('Overpass Mono SemiBold'), local('OverpassMono-SemiBold'), url('fonts/overpass-mono-v3-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/overpass-mono-v3-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/overpass-mono-v3-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */ url('fonts/overpass-mono-v3-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/overpass-mono-v3-latin-ext_latin-600.svg#OverpassMono') format('svg');
  /* Legacy iOS */
}
/* overpass-mono-700 - latin-ext_latin */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/overpass-mono-v3-latin-ext_latin-700.eot');
  /* IE9 Compat Modes */
  src: local('Overpass Mono Bold'), local('OverpassMono-Bold'), url('fonts/overpass-mono-v3-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/overpass-mono-v3-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/overpass-mono-v3-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */ url('fonts/overpass-mono-v3-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/overpass-mono-v3-latin-ext_latin-700.svg#OverpassMono') format('svg');
  /* Legacy iOS */
}
/* athiti-regular - latin */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/athiti-v2-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Athiti'), local('Athiti-Regular'), url('fonts/athiti-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/athiti-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/athiti-v2-latin-regular.woff') format('woff'), /* Modern Browsers */ url('fonts/athiti-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/athiti-v2-latin-regular.svg#Athiti') format('svg');
  /* Legacy iOS */
}
/* athiti-500 - latin */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/athiti-v2-latin-500.eot');
  /* IE9 Compat Modes */
  src: local('Athiti Medium'), local('Athiti-Medium'), url('fonts/athiti-v2-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/athiti-v2-latin-500.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/athiti-v2-latin-500.woff') format('woff'), /* Modern Browsers */ url('fonts/athiti-v2-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/athiti-v2-latin-500.svg#Athiti') format('svg');
  /* Legacy iOS */
}
/* athiti-600 - latin */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/athiti-v2-latin-600.eot');
  /* IE9 Compat Modes */
  src: local('Athiti SemiBold'), local('Athiti-SemiBold'), url('fonts/athiti-v2-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/athiti-v2-latin-600.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/athiti-v2-latin-600.woff') format('woff'), /* Modern Browsers */ url('fonts/athiti-v2-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */ url('fonts/athiti-v2-latin-600.svg#Athiti') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'm2-icons';
  src: url('fonts/M2-icons.eot');
  src: url('fonts/M2-icons.eot?#iefix') format('embedded-opentype'), url('fonts/M2-icons.woff') format('woff'), url('fonts/M2-icons.ttf') format('truetype'), url('fonts/M2-icons.svg#m2-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'fontawesome';
  src: url('fonts/fontawesome.woff2') format('woff2'), url('fonts/fontawesome.woff') format('woff'), url('fonts/fontawesome.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 'fontawesome';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-pinterest-p:before {
  content: "\f231";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-phone:before {
  content: "\f095";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-user-plus:before {
  content: "\f234";
}
.fa-user:before {
  content: "\f007";
}
.fa-home:before {
  content: "\f015";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.m2icon {
  display: inline-block;
  font-family: 'm2-icons';
  font-size: inherit;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.m2icon-facebook:before {
  content: '\e911';
}
.m2icon-twitter:before {
  content: '\e925';
}
.m2icon-youtube:before {
  content: '\e926';
}
.m2icon-instagram:before {
  content: '\e922';
}
/**
 * 2.0 - Print
 */
@media print {
  body {
    margin: 0;
    background: transparent;
    color: #000;
    font-family: 'Overpass Mono', sans-serif;
    font-size: 1.6rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
  }
  img,
  fieldset {
    border: 0;
  }
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1.0em;
  }
  h6 {
    font-size: 0.9em;
  }
  ol,
  ul {
    list-style-type: none;
  }
  ol li,
  ul li {
    list-style-type: disc;
  }
  dt {
    font-weight: bold;
  }
  a,
  a:visited {
    color: #000;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  input,
  select,
  textarea {
    border: 1px solid #000;
  }
  input {
    padding: 1px 0;
  }
  select {
    margin: 0;
    padding: 0;
    background: #fff;
    line-height: normal;
  }
  img {
    max-width: 100%;
  }
  pre,
  blockquote {
    border: 1px solid #000;
    page-break-inside: avoid;
  }
  div {
    text-align: left;
  }
  caption {
    display: none;
  }
  table {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-collapse: separate;
    border-spacing: 0;
  }
  table th,
  table td {
    padding: 5px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: left;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
}
/**
 * 3.0 - common
 */
html {
  position: relative;
  font-size: 10px;
}
body {
  background: #fff;
  color: #333;
  font-family: 'Overpass Mono', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}
body.admin-bar {
  padding-top: 32px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:before,
.container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}
.container:before,
.container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
.site-main {
  padding-top: 30px;
  padding-bottom: 30px;
}
.primary-title {
  text-transform: uppercase;
  font-size: 1.8rem;
}
.form-control {
  border: 0;
  border-bottom: 1px solid #e7e7e7;
  padding: 12px 15px;
  height: 44px;
  background-color: #fff;
  font-size: 1.4rem;
}
.form-control:-moz-placeholder {
  color: #aaa;
}
.form-control::-moz-placeholder {
  color: #aaa;
}
.form-control:-ms-input-placeholder {
  color: #aaa;
}
.form-control::-webkit-input-placeholder {
  color: #aaa;
}
/**
 *  Alignments
 */
.alignleft {
  float: left;
  margin-right: 20px;
}
.alignright {
  float: right;
  margin-left: 20px;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.75em;
}
blockquote.alignleft {
  margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}
blockquote.alignright {
  margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}
blockquote.aligncenter {
  margin-bottom: 1.473684211em;
}
.text-uppercase {
  text-transform: uppercase;
}
.btn {
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 0;
  font-size: 1.4rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  text-decoration: none;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-primary {
  border-color: #00a0e9;
  background-color: #00a0e9;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus {
  border-color: #688eb9;
  background-color: #688eb9;
  color: #fff;
}
.btn-black {
  position: relative;
  z-index: 2;
  border: 0;
  background-color: #333;
  color: #fff;
}
.btn-black:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #484848;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-black:hover,
.btn-black:focus {
  color: #fff;
}
.no-touch .btn-black:hover:before,
.no-touch .btn-black:focus:before {
  width: 100%;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
a {
  color: #3b5998;
}
a:hover {
  color: #263961;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1360px;
  }
}
@-webkit-keyframes MoveUpDown {
  0,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
  }
}
@-moz-keyframes MoveUpDown {
  0,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
  }
}
@-o-keyframes MoveUpDown {
  0,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
  }
}
@keyframes MoveUpDown {
  0,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
  }
}
.img-responsive {
  display: block;
  height: auto;
}
/* end common */
/**
 * 4.0 - header
 */
.site-header {
  padding: 15px 0;
  background: url('img/header-bottom-line.png') center bottom repeat-x #394b59;
  color: #fff;
}
.site-header .container {
  position: relative;
}
.site-header .header-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 140px;
}
.site-header .header-left .site-branding .custom-logo-link {
  display: inline-block;
}
.site-header .header-right {
  padding-left: 140px;
}
.site-header .hr-top {
  position: relative;
}
.site-header .hr-top ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-header .hr-top .login-box {
  position: absolute;
  right: 85px;
  top: 0;
}
.site-header .hr-top .login-box ul li {
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
}
.site-header .hr-top .login-box ul li a {
  color: #fff;
  text-decoration: none;
}
.site-header .hr-top .login-box ul li a em {
  margin-right: 5px;
}
.site-header .hr-top .box-lang {
  position: absolute;
  right: 0;
  top: 0;
}
.site-header .hr-top .box-lang ul {
  overflow: hidden;
}
.site-header .hr-top .box-lang ul li {
  display: block;
  float: left;
  position: relative;
  padding: 0 10px;
}
.site-header .hr-top .box-lang ul li + li:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 1px;
  height: 15px;
  background-color: #fff;
}
.site-header .hr-top .box-lang ul li.current-lang a {
  color: #5e8ab4;
}
.site-header .hr-top .box-lang ul li a {
  color: #fff;
  text-decoration: none;
}
.site-header .hr-top .box-lang ul li a:hover {
  color: #5e8ab4;
  text-decoration: none;
}
.site-header .hr-top .site-header-cart {
  position: absolute;
  z-index: 1000;
  right: 0;
  top: 30px;
}
.site-header .hr-top .site-header-cart a#nc_ajax_cart_snippet,
.site-header .hr-top .site-header-cart .nc_ajax_cart_icon_font {
  color: #fff;
}
.site-header .custom-site-title {
  text-align: center;
  padding-right: 340px;
}
.site-header .custom-site-title a {
  color: #fff;
  font-size: 6.5rem;
  line-height: 1;
  text-decoration: none;
  font-family: 'Courier New', monospace;
}
.site-header-cart {
  width: 300px;
}
.site-header-cart .cart-contents {
  padding: 5px 0;
  display: block;
  position: relative;
}
.site-header-cart .cart-contents:after {
  content: "\e927";
  display: inline-block;
  float: right;
  font-family: 'm2-icons';
  font-size: inherit;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}
.site-header-cart .cart-contents .amount {
  display: inline-block;
  color: #fff;
}
.site-header-cart .cart-contents .count {
  color: #fff;
  font-weight: 400;
  opacity: .5;
  font-size: .875em;
}
.site-header-cart .widget_shopping_cart {
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  left: 0;
  border: 1px solid #e7e7e7;
  border-top: 0;
  border-radius: 5px;
  padding: 10px;
  background: #fff;
  opacity: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  color: #333;
}
.site-header-cart .widget_shopping_cart .woocommerce-mini-cart__empty-message {
  margin: 0;
}
.site-header-cart:hover .widget_shopping_cart {
  opacity: 1;
  height: auto;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.site-nav {
  position: relative;
  z-index: 998;
  padding-right: 300px;
}
.primary-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.primary-menu li {
  position: relative;
}
.primary-menu > li {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
}
.primary-menu > li:frist-child {
  border-left: 0;
}
.primary-menu > li.current-menu-item > a,
.primary-menu > li.current-menu-parent > a,
.primary-menu > li.current-post-ancestor > a {
  color: #fff;
}
.primary-menu > li.current-menu-item > a:after,
.primary-menu > li.current-menu-parent > a:after,
.primary-menu > li.current-post-ancestor > a:after {
  width: 100%;
  background-size: 100% 12px;
}
.primary-menu > li > a {
  position: relative;
  display: inline-block;
  padding: 7px 0;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.primary-menu > li > a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 12px;
  display: block;
  background: url('img/menu-line-hover.png') no-repeat 0 0;
  background-size: 160px 12px;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.no-touch .primary-menu > li > a {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.primary-menu > li > a:hover {
  color: #fff;
}
.primary-menu > li > a:hover:after {
  width: 100%;
  background-size: 100% 12px;
}
.primary-menu > li:hover > a {
  color: #fff;
}
.primary-menu > li:hover > a:after {
  width: 100%;
  background-size: 100% 12px;
}
.primary-menu > li:hover > ul {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.primary-menu > li ul {
  opacity: 0;
  visibility: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 100%;
  width: 220px;
  padding: 20px 30px;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  -ms-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -o-transform: translateY(10px);
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}
.no-touch .primary-menu > li ul {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.primary-menu > li ul li {
  display: block;
  text-align: left;
}
.primary-menu > li ul li a {
  display: block;
  padding: 7px 15px;
  color: #333;
  text-decoration: none;
  text-align: center;
}
.primary-menu > li ul li a:hover {
  color: #3b5998;
  text-decoration: none;
}
.primary-menu > li ul li ul {
  top: 0;
  left: 100%;
}
.primary-menu > li ul li:hover > a {
  color: #3b5998;
}
.primary-menu > li ul li:hover > ul {
  opacity: 1;
  visibility: visible;
  -ms-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.menu-toggle {
  display: none;
  position: absolute;
  left: 15px;
  top: 20px;
  width: 40px;
  height: 40px;
  z-index: 9999;
  background: none;
  background: #3b5998;
  border-radius: 2px;
  border: 0;
  padding: 2px 4px;
  cursor: pointer;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.admin-bar .menu-toggle {
  top: 58px;
}
.menu-toggle .icon-bar {
  background: #fff;
  height: 4px;
  width: 32px;
  display: block;
}
.menu-toggle .icon-bar + .icon-bar {
  margin-top: 7px;
}
.menu-toggle .icon-bar:first-child,
.menu-toggle .icon-bar:nth-child(3) {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.menu-toggle:focus,
.menu-toggle:active {
  outline: none;
}
.menu-toggle.active .icon-bar:first-child {
  -webkit-transform: rotate(45deg) translate(6px, 8px);
  -ms-transform: rotate(45deg) translate(6px, 8px);
  transform: rotate(45deg) translate(6px, 8px);
}
.menu-toggle.active .icon-bar:nth-child(2) {
  visibility: hidden;
}
.menu-toggle.active .icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -9px);
  -ms-transform: rotate(-45deg) translate(7px, -9px);
  transform: rotate(-45deg) translate(7px, -9px);
}
.site-search {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
}
.site-search .woocommerce-product-search .search-field {
  width: 100%;
  padding: 7px 50px 7px 10px;
  border: 0;
  background-color: #fff;
  border-radius: 5px;
}
.site-search .woocommerce-product-search button {
  position: absolute;
  right: 5px;
  top: 2px;
  font-size: 0;
  border: 0;
  background: none;
  -webkit-appearance: none;
}
.site-search .woocommerce-product-search button:before {
  font-family: 'm2-icons';
  content: '\e91e';
  color: #000;
  font-size: 23px;
}
/* end header */
/**
 * 5.0 - home
 */
.mobile-menu {
  display: none;
}
.mainsite {
  position: relative;
  left: 0;
  z-index: 1000;
}
body.showmenu .menu-toggle {
  left: 280px;
}
body.showmenu .mobile-menu {
  left: 0;
}
.mobile-menu {
  width: 280px;
  z-index: 10000;
  position: fixed;
  left: -280px;
  top: 0;
  bottom: 0;
  background: #2c2c2c;
  overflow-y: scroll;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mobile-menu ul li {
  position: relative;
}
.mobile-menu ul li a:hover {
  background-color: #3b5998;
  color: #fff;
  text-decoration: none;
}
.mobile-menu ul li.current-menu-item > a {
  background-color: #3b5998;
  color: #fff;
}
.mobile-menu ul li > ul {
  display: none;
}
.mobile-menu ul > li.menu-item-has-children > a {
  padding-right: 45px;
}
.mobile-menu ul > li .arrowCtl {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  width: 43px;
  height: 43px;
  border: 1px solid #aaa;
  border-right: 0;
  color: #fff;
  text-align: center;
  line-height: 43px;
  cursor: pointer;
}
.mobile-menu div > ul > li > a {
  display: block;
  padding: 8px 15px;
  border-top: 1px solid #aaa;
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.mobile-menu div > ul > li:first-child > a {
  border-top: 0;
}
.mobile-menu div > ul > li ul {
  border-top: 1px solid #aaa;
}
.mobile-menu div > ul > li ul li {
  position: relative;
}
.mobile-menu div > ul > li ul li:before {
  content: '';
  position: absolute;
  left: 15px;
  top: 15px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
}
.mobile-menu div > ul > li ul li a {
  display: block;
  border-bottom: 1px dotted #575757;
  padding: 8px 15px 8px 30px;
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
}
.mobile-menu div > ul > li ul li ul {
  border-top: 0;
}
.mobile-menu div > ul > li ul li ul li a {
  padding-left: 40px;
  font-size: 1.4rem;
}
.mobile-menu div > ul > li ul li ul li:before {
  left: 30px;
}
@media only screen and (max-width: 767px) {
  body.showmenu .mainsite:before {
    content: '';
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .mobile-menu {
    display: block;
  }
}
/**
 * 5.0 - banner
 */
.slick-slider .slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slick-slider .slick-dots li {
  display: inline-block;
  vertical-align: top;
  padding: 0 2px;
}
.slick-slider .slick-dots li button {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #fff;
  font-size: 0;
  color: #fff;
  cursor: pointer;
}
.slick-slider .slick-dots li.slick-active button {
  outline: none;
  background-color: #333;
}
.slick-slider .slick-dots li:hover button {
  outline: none;
  background-color: #333;
}
.slideshow .item {
  position: relative;
}
.slideshow .item img {
  display: block;
  width: 100%;
}
.banner-page img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .mainsite .slick-slider .slick-dots {
    left: auto;
    right: 15px;
    -ms-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none;
  }
}
@media screen and (max-width: 480px) {
  .slideshow .item img {
    width: 130%;
    left: -15%;
    position: relative;
    max-width: 130%;
  }
  .slideshow .item.slick-current {
    z-index: 2;
  }
}
/**
 * 6.0 - breadcrumbs
 */
.breadcrumbs {
  list-style: none;
  background: #eee;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background: -webkit-linear-gradient(#fff, #eee);
  background: -o-linear-gradient(#fff, #eee);
  background: linear-gradient(#fff, #eee);
  border: 1px solid #cfcfcf;
  padding: 8px 15px;
  overflow: hidden;
  text-transform: capitalize;
}
.breadcrumbs li {
  display: inline;
  position: relative;
}
.breadcrumbs li + li {
  padding-left: 25px;
}
.breadcrumbs li + li:before {
  display: inline-block;
  font: normal normal normal 14px/1 'fontawesome';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0da";
  position: absolute;
  left: 10px;
  top: 3px;
}
.breadcrumbs li.item-home:before {
  display: inline-block;
  font: normal normal normal 14px/1 'fontawesome';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f015";
  font-size: 1.8rem;
  margin-right: 5px;
}
.breadcrumbs li.item-home:hover:before {
  color: #fb270d;
}
.breadcrumbs li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
.breadcrumbs li a:hover {
  text-decoration: none;
  color: #fb270d;
}
.breadcrumb-title {
  position: relative;
  z-index: 2;
  margin: 0;
  font-size: 2.4rem;
}
.breadcrumb-title span {
  position: relative;
  display: inline-block;
}
.breadcrumb-title span:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #333;
}
.entry-header {
  margin-bottom: 60px;
  text-align: center;
}
.entry-header .entry-title {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  padding-bottom: 35px;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.entry-header .entry-title:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -98px;
  background: url('img/bg_header.png') center bottom no-repeat;
  width: 177px;
  height: 22px;
}
/**
 * 7.0 - footer
 */
.footer-top {
  padding-top: 50px;
}
.social-box {
  margin-bottom: 30px;
}
.social-box h3 {
  margin: 0 0 15px;
  font-size: 2rem;
}
.social-box ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-box ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.social-box ul li a {
  color: #333;
  font-size: 4rem;
}
#site-bottom .container.bg-content {
  padding: 30px 40px;
  max-width: 1350px;
  background-image: url(img/border-background-bottom.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #c8c3bc;
}
#site-bottom .container .footer_links {
  width: 66%;
  float: left;
  margin: 0;
  padding: 0;
}
#site-bottom .container .footer_visit {
  padding: 10px 0;
  position: relative;
  width: 33%;
  min-height: 250px;
  float: right;
}
#site-bottom .container .textwidget ul.content {
  padding: 0;
  margin: 0;
  list-style: none;
}
#site-bottom .container .textwidget ul.content li {
  line-height: 32px;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 5px 0;
}
#site-bottom .container .textwidget ul.content li a {
  font-weight: 400;
  color: #000;
  text-decoration: none;
}
.site-footer .copyright {
  padding: 30px 0 15px;
  background: url('img/line-dotted-v.png') left top repeat-x;
  text-align: center;
}
/**
 * 8.0 - pagination
 */
.nav-links {
  text-align: center;
}
.nav-links > a,
.nav-links > span {
  display: inline-block;
  vertical-align: top;
  padding: 7px 15px;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  color: black;
  font-size: 1.6rem;
  text-decoration: none;
  cursor: pointer;
}
.nav-links > a.current,
.nav-links > span.current {
  border-color: #fb270d;
  background-color: #fb270d;
  cursor: default;
  color: #fff;
}
.nav-links > a:hover,
.nav-links > span:hover {
  border-color: #fb270d;
  background-color: #fb270d;
  color: #fff;
}
/**
 * 9.0 - sidebar
 */
.search-form {
  position: relative;
}
.search-form .search-field {
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #333;
  padding: 5px 10px;
}
.search-form .search-submit-input {
  position: absolute;
  right: 0;
  bottom: 0;
  border: 0;
  text-align: center;
  padding: 7px 15px;
  background-color: #3b5998;
  color: #fff;
  cursor: pointer;
}
.rs-advanced-search-form .rs-advanced-search-inline-select {
  margin-bottom: 0;
  width: 100%;
  padding-right: 82px;
}
.rs-advanced-search-form .rs-advanced-search-inline-select select {
  border-color: #333;
}
.sidebar .widget {
  margin-bottom: 30px;
}
.sidebar .widget .widget-title {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
}
.sidebar .widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .widget ul li {
  margin-bottom: 10px;
}
.sidebar .widget ul li a {
  color: #333;
  text-decoration: none;
}
.no-touch .sidebar .widget ul li a {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sidebar .widget ul li a:hover,
.sidebar .widget ul li a:focus {
  text-decoration: underline;
}
.sidebar .widget .searchandfilter ul {
  display: block;
  position: relative;
}
.sidebar .widget .searchandfilter li {
  padding-right: 0;
}
.sidebar .widget .searchandfilter li.search-field input {
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #333;
  padding: 5px 10px;
}
.sidebar .widget .searchandfilter .field-taxonomy {
  margin-bottom: 0;
  margin-right: 90px;
}
.sidebar .widget .searchandfilter .field-taxonomy .postform {
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #333;
  padding: 5px 10px;
}
.sidebar .widget .searchandfilter .field-submitted {
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80px;
}
.sidebar .widget .searchandfilter .field-submitted input[type="submit"] {
  padding: 7px 15px;
  border: 0;
  background-color: #3b5998;
  color: #fff;
  cursor: pointer;
}
.aside-box {
  border: 1px solid #e7e7e7;
}
.aside-box .widget-title {
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  padding: 8px 65px 8px 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#cd160e), to(#b3140e)) #b3140e;
  background: -webkit-linear-gradient(#cd160e, #b3140e) #b3140e;
  background: -o-linear-gradient(#cd160e, #b3140e) #b3140e;
  background: linear-gradient(#cd160e, #b3140e) #b3140e;
  border-bottom: 1px solid #b3140e;
  border-radius: 5px 5px 0 0;
}
.aside-box .widget-title:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#eee)) #eee;
  background: -webkit-linear-gradient(#fefefe, #eee) #eee;
  background: -o-linear-gradient(#fefefe, #eee) #eee;
  background: linear-gradient(#fefefe, #eee) #eee;
  border-bottom-right-radius: 50px 30px;
}
.aside-box .textwidget {
  padding: 15px;
}
.aside-box .skype-chat {
  text-align: center;
}
.aside-box .skype-chat span {
  display: block;
  color: #333;
}
.vert .simply-scroll-clip {
  height: 1000px;
}
.simply-scroll-container {
  position: relative;
}
.simply-scroll-clip {
  overflow: hidden;
}
.aside-logos {
  overflow: hidden;
}
.aside-logos li {
  margin-top: 20px;
}
.aside-logos li a {
  display: block;
  overflow: hidden;
}
.aside-logos li a:hover img {
  opacity: .9;
}
.aside-logos li img {
  margin: 0;
  border: 1px solid #e7e7e7;
  padding: 4px;
}
.no-touch .aside-logos li img {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.widget_wpb_latestpost {
  border: 1px solid #e7e7e7;
}
.widget_wpb_latestpost .tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}
.widget_wpb_latestpost .tabs:before,
.widget_wpb_latestpost .tabs:after {
  display: table;
  content: "";
}
.widget_wpb_latestpost .tabs:after {
  clear: both;
}
.widget_wpb_latestpost .tabs:before,
.widget_wpb_latestpost .tabs:after {
  display: table;
  content: "";
}
.widget_wpb_latestpost .tabs:after {
  clear: both;
}
.widget_wpb_latestpost .tabs li {
  display: block;
  float: left;
  width: 50%;
  margin-bottom: 0 !important;
  text-transform: uppercase;
  text-align: center;
  background-color: #eaeaea;
  border-bottom: 1px solid #ababab;
}
.widget_wpb_latestpost .tabs li + li {
  border-left: 1px solid #ababab;
}
.widget_wpb_latestpost .tabs li.active {
  background-color: #fff;
  border-bottom-color: #fff;
}
.widget_wpb_latestpost .tabs li a {
  display: block;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
}
.widget_wpb_latestpost .newsTabContent .tab-content {
  display: none;
  list-style: none;
  margin: 0;
  padding: 10px 0 0;
}
.widget_wpb_latestpost .newsTabContent .tab-content.active {
  display: block;
}
.widget_wpb_latestpost .newsTabContent .tab-content li {
  padding: 5px 10px;
}
.widget_wpb_latestpost .newsTabContent .tab-content li:before,
.widget_wpb_latestpost .newsTabContent .tab-content li:after {
  display: table;
  content: "";
}
.widget_wpb_latestpost .newsTabContent .tab-content li:after {
  clear: both;
}
.widget_wpb_latestpost .newsTabContent .tab-content li:before,
.widget_wpb_latestpost .newsTabContent .tab-content li:after {
  display: table;
  content: "";
}
.widget_wpb_latestpost .newsTabContent .tab-content li:after {
  clear: both;
}
.widget_wpb_latestpost .newsTabContent .tab-content li img {
  float: left;
  width: 80px;
  margin-right: 15px;
}
.widget_wpb_latestpost .newsTabContent .tab-content li .title {
  display: block;
}
.aside-members .recent-member-lists {
  padding: 20px;
}
.aside-members .vert {
  margin: 20px 0;
  height: 300px;
  overflow: hidden;
}
.aside-members ul li {
  margin-bottom: 15px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #e7e7e7;
}
.aside-members ul li h3 {
  margin: 15px 0 0;
}
/**
 * 10.0 - home
 */
.home-slider .inner {
  position: relative;
  overflow: hidden;
}
.home-slider .img img {
  padding: 14px;
  width: 100%;
}
.home-slider .img:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  background-image: url('img/banner_border-image.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.home-slider .caption {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  right: 20px;
  left: 20px;
  padding: 19px 40px;
  border-radius: 0 0 14px 14px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  font-size: 2rem;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 800ms;
  -o-transition: all 800ms;
  transition: all 800ms;
}
.home-slider .caption .slider-title {
  margin: 0 0 10px;
  display: none;
}
.home-slider .slick-slider .slick-arrow {
  width: 60px;
  height: 77px;
  opacity: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.home-slider .slick-slider .slick-arrow.slick-next {
  background-position: right -100px;
}
.home-slider .slick-slider .slick-arrow.slick-prev {
  background-position: left -100px;
}
.home-slider .slick-slider:hover .slick-arrow {
  opacity: 1;
}
.home-slider .slick-slider:hover .slick-arrow.slick-next {
  right: 50px;
}
.home-slider .slick-slider:hover .slick-arrow.slick-prev {
  left: 50px;
}
.home-slider .slick-active .caption {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0.5);
}
.home-intro .slick-list.draggable {
  margin: 30px 80px;
  overflow: hidden;
}
.home-intro .caption h2 {
  display: none;
}
.home-intro .slick-dots {
  display: none !important;
}
.home-intro:after {
  content: "";
  width: 100%;
  height: 13px;
  display: block;
  background: url('img/line-dotted-v.png') left top repeat-x;
  background-position: 0 0;
}
.home h2 {
  width: 100%;
  display: inline-block;
}
.home h2.title-row {
  margin: 60px 0 40px 0;
  text-align: center;
  font-size: 40px;
}
.home .products li.product h2 {
  color: #000;
}
.home .products li.product h2:hover {
  color: #3b5998;
}
.home .products li.product .price {
  color: #000 !important;
}
.home .products li.product .price del .amount {
  color: #000;
}
.home .products li.product .price ins {
  color: #000;
  text-decoration: none;
}
/**
 * 11.0 - news
 */
.blog .post-list-wrapper .item-post {
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: block;
  border-bottom: 1px dashed #000;
}
.blog .post-list-wrapper .item-post:last-child {
  border-bottom: 0;
}
.blog .post-list-wrapper .item-post h2 {
  margin-top: 0;
}
/**
 * 12.0 - contact-us
 */
.contact-form {
  max-width: 600px;
  margin: auto;
}
.contact-form .page-header {
  text-align: center;
}
.contact-form .form-group {
  position: relative;
  margin-bottom: 20px;
}
.contact-form .form-group .fa {
  color: red;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 13px;
}
.contact-form .form-group .wpcf7-form-control-wrap {
  display: block;
}
.contact-form .form-group.text-center .wpcf7-form-control-wrap {
  display: inline-block;
  margin: auto;
}
.contact-form input,
.contact-form textarea {
  margin: 0 0 20px;
}
.contact-form input.wpcf7-not-valid,
.contact-form textarea.wpcf7-not-valid {
  margin: 0;
}
.contact-form .btn-submit {
  min-width: 262px;
  margin: 0 auto;
  display: block;
  padding: 14px 20px;
  background-color: #D6D6D6;
}
.contact-form .btn-submit input {
  cursor: pointer;
}
.contact-form .form-control {
  padding-left: 25px;
  width: 100%;
}
.contact-form .form-control:focus {
  outline: none;
}
.contact-form textarea.form-control {
  height: 155px;
  resize: none;
}
.contact-form .form-group-submit {
  text-align: center;
}
.contact-form .form-group-submit .btn {
  width: 120px;
  text-transform: uppercase;
}
/**
 * 13.0 - woocommerce.less
 */
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  padding: 8px 12px;
  background: #000 url('img/button-border.png') no-repeat;
  background-size: 100% 100%;
  color: #fff;
}
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:focus,
.woocommerce a.button:focus,
.woocommerce button.button:focus,
.woocommerce input.button:focus {
  background: #000 url('img/button-border.png') no-repeat;
  background-size: 100% 100%;
  color: #fff;
}
.woocommerce-page div.product div.images {
  width: 100%;
}
.single-product #product-detail .entry-summary .content {
  margin: 0;
  padding: 29px;
  width: 100%;
  display: inline-block;
  border: 1px solid #9b9b9b;
  background-color: rgba(255, 255, 255, 0.85);
}
.single-product #product-detail .entry-summary .content .short-description {
  text-transform: none;
  color: #000;
  margin: 15px 0;
  padding-top: 20px;
  width: 100%;
  float: left;
  border-top: 1px dashed #000;
}
.single-product #product-detail .entry-summary .content .product-info-price {
  margin-top: 0;
  padding-top: 20px;
  width: 100%;
  float: left;
  border-top: 1px dashed #000;
}
.single-product #product-detail .entry-summary .content .product-info-price .price-box {
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 1px dashed #000;
}
.single-product #product-detail .entry-summary .content .product-info-price .product-info-stock-sku {
  padding: 20px 0 20px 4px;
  line-height: 32px;
}
.single-product #product-detail .entry-summary .content .product-add-form .qty {
  float: left;
  margin-right: 20px;
}
.single-product #product-detail .entry-summary .content .product-add-form .quantity input.input-text {
  width: 50px;
  height: 31px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 5px;
}
.single-product .detailer {
  padding-top: 53px;
  background: url(img/line-dotted-v.png) repeat-x;
  background-position: 0 0;
  border-top: 0;
}
.single-product ul.flex-direction-nav {
  position: absolute;
  top: 30%;
  z-index: 99999;
  width: 100%;
  left: 0;
  margin: 0;
  padding: 0px;
  list-style: none;
}
.single-product li.flex-nav-prev {
  float: left;
}
.single-product li.flex-nav-next {
  float: right;
}
.single-product a.flex-next {
  visibility: hidden;
}
.single-product a.flex-prev {
  visibility: hidden;
}
.single-product a.flex-next::after {
  visibility: visible;
  content: '\f105';
  font-family: FontAwesome;
  margin-right: 10px;
  font-size: 70px;
}
.single-product a.flex-prev::before {
  visibility: visible;
  content: '\f104';
  font-family: FontAwesome;
  margin-left: 10px;
  font-size: 70px;
}
/**
 * 14.0 - Css3
 */
/**
 * 15.0 - Responsive
 */
@media screen and (max-width: 1279px) {
  .primary-menu > li > a {
    padding: 12px 9px;
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 991px) {
  /* .aside */
  .sidebar {
    border-top: 1px solid #333;
    padding-top: 30px;
    margin-top: 30px;
  }
  .aside-logos {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  body.admin-bar {
    padding-top: 46px;
  }
  .menu-toggle {
    display: block;
  }
  .site-nav {
    display: none;
  }
  .site-header .site-branding {
    padding-top: 0;
    text-align: center;
  }
  .header-banner {
    text-align: center;
  }
  /* slideshow */
  .slideshow-container {
    display: block;
  }
  .slideshow-container .slider-items,
  .slideshow-container .slider-ctrl {
    float: none;
    width: auto;
  }
  .slideshow-container .slider-items {
    height: 400px;
  }
  .slideshow-container .slider-ctrl {
    margin-top: 15px;
    padding-left: 0;
  }
  .slideshow-container .slider-ctrl .ctrl-item .title {
    font-size: 1.3rem;
  }
  /* main */
  .site-main {
    padding-top: 15px;
  }
  /* Members */
  .um-page-register .page-default .entry-content,
  .um-page-login .page-default .entry-content {
    padding: 15px;
  }
  .um-form .um-field .um-field-label {
    float: none;
    width: auto;
  }
  /*.category-box*/
  .primary-area .category-box {
    margin-bottom: 20px;
  }
  .primary-area .category-box .category-heading li + li {
    display: none;
  }
  .primary-area .category-box .category-posts .posts-left,
  .primary-area .category-box .category-posts .posts-right {
    float: none;
    width: auto;
  }
  .all-tag-news {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .all-tag-news li {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    margin-top: 10px;
  }
  .all-tag-news li a {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #00a0e9;
    color: #fff;
  }
  .users-list .item {
    float: none;
    width: auto;
    margin: 0 0 15px;
    padding-right: 0;
  }
  .users-list .item:before,
  .users-list .item:after {
    display: table;
    content: "";
  }
  .users-list .item:after {
    clear: both;
  }
  .users-list .item:before,
  .users-list .item:after {
    display: table;
    content: "";
  }
  .users-list .item:after {
    clear: both;
  }
  .users-list .item:first-child {
    padding-left: 0;
  }
  .box {
    margin-bottom: 20px;
  }
  .box.users-box .box-content {
    padding: 30px 20px 15px;
  }
  .box.bussiness-box .box-content .bussiness-item {
    width: 50%;
  }
  .box.bussiness-box .box-content .bussiness-item:nth-child(2n+1) {
    clear: left;
  }
  /* Aside */
  .sidebar .widget {
    margin-bottom: 20px;
  }
  /* Footer */
  .site-footer .site-info,
  .site-footer .footer-logo {
    text-align: center;
  }
  .site-footer .footer-logo {
    margin-top: 15px;
  }
}

/*# sourceMappingURL=style.css.map */